:root {
    --size-face: 100%;
    /* --size-face: 800px; */
}

/* .button {
    width: 100px;
    height: 100px;
    background: red;
} */

body, h1, h2, h3{
    margin: 0;
    padding: 0;
}

.view {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.face {
    width: var(--size-face);
    height: var(--size-face);
    margin: 0;
    padding: 0;
}

.face.main {
    position: relative;
    will-change: transform;
}

.face.center {
    position: absolute;
}

.face.up {
    position: absolute;
    top: calc(-100%);
}

.face.down {
    position: absolute;
    bottom: calc(-100%);
}

.face.left {
    position: absolute;
    left: calc(-100%);
}

.face.right {
    position: absolute;
    right: calc(-100%);
}

.screen-body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;
    transform: scale(3);
}

/* .background-video {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background-color: red;
} */