/* To store styles related with views/faces */
.view {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.face {
    width: var(--size-face);
    height: var(--size-face);
    margin: 0;
    padding: 0;
    position: absolute;
}
#faceMain {
    position: relative;
    will-change: transform;
    border: 1px solid green;
    width: var(--size-face);
    height: var(--size-face);
    margin: 0;
    padding: 0;
}
.face.up {
    top: calc(-100%);
}
.face.down {
    bottom: calc(-100%);
}
.face.left {
    left: calc(-100%);
}
.face.right {
    right: calc(-100%);
}

.face_body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--white);
    font-size: 16px;
    padding: 2.5rem;
    box-sizing: border-box;
}
#background_video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
    transform: scale(3);
}