.grid-container--faceup {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 2em;
    grid-template: 10% 1fr / 1fr 1fr;
    grid-template-areas: "b b"
                         "c j";
    box-sizing: border-box;
}

.dev-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2em;
    box-sizing: border-box;
    font-size: 0.8em;
}

.dev-knowledge {
    display: flex;
    height: 90%;
    margin-bottom: 1.5em;
    font-size: 0.7;
    justify-content: space-between;
}
.dev-knowledge .knowledge {
    width: 50%;
}
#experience {
    width: 60%;
    height: 100%;
}

.skills {
    height: 100%;
    display: grid;
    grid-template: repeat(5, auto) / 1fr 2fr 1fr;
    grid-gap: 0.8rem;
}
.skill {
    display: flex;
}
.skill--left {
    grid-column: 1 / 3;
}
.skill--right {
    grid-column: 2 / 4;
}

.skill__img-container {
    background-color: #FEFEFE;
    padding: 0.5em;
    position: relative;
    z-index: -1;
}
.skill__img {
    width: 11em;
    height: 11em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.git {
    background-image: url(../imgs/git.png);
    background-size: cover;
}
.arq {
    background-image: url(../imgs/arquitecturas-de-software.png);
}
.uml {
    background-image: url(../imgs/uml.png);
}
.postman {
    background-image: url(../imgs/postman.png);
}
.regex {
    background-image: url(../imgs/regex.jpg);
}

.skill__info {
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 1em;
    padding-top: 1.8em;
}


.learning-dev {
    width: 45%;
    color: #273b47;
    font-size: 1.4em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3em;
}

.learning-dev article {
    font-weight: 600;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    border-bottom: #93b5b3 2px solid;
    background-color: #f2f6f5b2;
    background-position-y: bottom;
}

.learning-dev a {
    color: #273b47;
}

.icon-github {
    background-image: url(../imgs/github.png);
}
.icon-scrum {
    background-image: url(../imgs/scrum.png);
}
.icon-arquitecturas {
    background-image: url(../imgs/arquitecturas.png);
}
.icon-testing {
    background-image: url(../imgs/testing.png);
}
.icon-redes {
    background-image: url(../imgs/redes.png);
}
.icon-linux {
    background-image: url(../imgs/linux.png);
}

.btn-upToCenter {
    opacity: 0.6;
    transition-duration: 1s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 10%;
}


.btn-upToCenter h2 {
    margin-top: 1em;
}

.downArrow {
    background-image: url('../imgs/left-and-right-arrows.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-top: 0.5em;
    transform: rotate(90deg);
}

.btn-upToCenter:hover {
    opacity: 1;
}