.icon-php {
    background-image: url(../imgs/php.png);
}
.icon-database {
    background-image: url(../imgs/database.png);
}
.icon-apirest {
    background-image: url(../imgs/apirest.png);
}
.icon-java {
    background-image: url(../imgs/java.png);
}
.icon-nodejs {
    background-image: url(../imgs/nodejs.png);
}
.icon-graphql {
    background-image: url(../imgs/graphql.png);
}

.btn-rightToCenter {
    cursor: pointer;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    opacity: 0.6;
    transition-duration: 1s;
    font-size: 0.8em;
}




.samples_container.backend {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.samples_container.backend article {
    padding: 1.8rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.framework_pairs_container {

}
.samples_container.backend .item-description {
    width: auto;
}


.frameworkpair {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.frameworkpair span {
    font-size: 3rem;
    text-align: center;
}

.leftArrow {
    background-image: url('../imgs/left-and-right-arrows.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(-1);
    width: 4.2em;
    height: 4.2em;
    margin-bottom: 1em;
}


.btn-rightToCenter:hover {
    opacity: 1;
}